<div class="restaurant">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <div>Style of food: {{style}}</div>
  <div>Description: {{description}}</div>
  <div>Location: {{location}}</div>
  <a href="/restaurant/{{id}}/edit">Edit</a>
</div>