<div class="restaurant">
  <img class="img-circle" src={{Image}} alt="{{name}}">
  <h2>{{Name}}</h2>
  
  <div>Info: <a href={{Webpage}}>{{Name}}</a></div>
  <div>Location: {{Address}}</div>
  
</div>